name: Build APP

on:
  workflow_dispatch:
  push:
    branches: [ "master", "old-android" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - uses: sparkfabrik/android-build-action@v1.5.0
        with:
          project-path: .
          output-path: app-debug.apk
          fastlane-env: "debug"
          ruby-version: "3.3.0"

      # 修复点：将 v3 改为 v4
      - uses: actions/upload-artifact@v4  
        name: Upload app APK
        with:
          name: App-Debug-Version
          path: app-debug.apk
